.input {
    width: 200px!important;
}

.input-area {
    margin: 20px 0;
}

.attrForm {
    display: flex;
    justify-content: space-between;
}

.attributeForm {
    width: 45%;
    display: flex;
    align-items: baseline;
}

.subAttributeForm {
    width: 45%;
}

.subAttributeForm .attributeInput {
    display: flex;
    align-items: center;
}

.classInput {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
}

.classes {
    margin: 10px;
}

.classes input {
    width: 500px;
}

.attributes {
    margin: 10px;
}

.attributes input {
    margin: 10px 0;
}

.addClassInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

body {
    background-color: #f1f2f5!important;
}

.addAttrInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addAttrInput input {
    width: 90%;
}

.addSubAttr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anticon {
    margin: 5px;
}

